<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Obrigado!</title>
</head>
<body>
    <h1>Obrigado pela sua sugestão!</h1>
    <p><strong>Nome do Lanche:</strong> <%= nome %></p>
    <p><strong>Ingredientes:</strong> <%= ingredientes %></p>

    <p><a href="/">Voltar ao início?</a></p>
</body>
</html>
